DJANGO_SECRET_KEY=ilovethickthighsonwomen
DEBUG=False
ALLOWED_HOSTS=your-backend.onrender.com
FRONTEND_URL=https://your-frontend.vercel.app
DATABASE_URL=postgresql://postgres:LqUrUmBpjn6UPyPZ@db.tbwiviisgjahzqzmdqub.supabase.co:5432/postgres
GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile